@{
    ViewData["Title"] = "Créer / Editer";
}
@model App_MVC.Models.Expense
<div class="text-center">
    <h1 class="display-4">Créer ou editer un dépense</h1>
</div>

<form asp-action="CreatEditExpense2" asp-controller="Home">
    <input hidden class="form-control" type="number" placeholder="0" asp-for="Id" />
    <label class="mt-4">Valeur</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Valeur" step="0.01" />
    <label class="mt-4">Description</label>
    <input class="form-control" type="text" placeholder="Ajouter une description" asp-for="Description" step="0.01" />
    <button class="btn btn-primary mt-4" type="submit">Ok</button>
</form>
